body,
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  text-align: center !important;
}
html::-webkit-scrollbar {
  display: none;
}

#instruction {
  max-width: 700px !important;
}

#displayResult {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#displayResult > img {
  border: 4px solid rgb(255, 255, 255);
}

#displayResult > table {
  max-width: 500px;
}

#displayResult > p {
  max-width: 1000px;
}

.hidden {
  display: none;
}

link {
  display: inline !important;
}

.source {
  display: flex;
  align-self: auto;
  margin: 20px auto;
}
