body,
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  text-align: center !important;
}
html::-webkit-scrollbar {
  display: none;
}

#displayResult {
  border: 3px solid rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#displayResult > img {
  border: 5px solid rgb(255, 255, 255) !important;
}

#displayResult > table {
  max-width: 500px;
}

#displayResult > p {
  max-width: 1000px;
}
